$topbar-breakpoint: 1px;
$topbar-media-query: "only screen and (min-width: 1px)";

@import 
    "normalize",
    "foundation";

body {
  padding: 0;
  margin: 0;
}

html, body, .map, .content {
  height: 100%;
}

$trail_info_height: emCalc(25px);
.trail_info {
  height: $trail_info_height;
  line-height: $trail_info_height;
  span {
    margin: 0px emCalc(15px);
    color: #ffffff;
  }
  font-size: emCalc(13px);
}
