@import 
    "normalize",  // import from bower_components/foundation
    "foundation"; // import from bower_components/foundation

body {
  padding: 0;
  margin: 0;
}

html, body, .map, .content {
  height: 100%;
}

.login {
  position: absolute;
  z-index: 1000;
  top: 0;
  right: 0;
  border-radius: 4px;
  background-color: #fff;
  margin: 10px 10px 0 0;
  padding: 5px;
  box-shadow: 0 1px 5px rgba(0,0,0,0.65);
}

ul.trails {
  display: inline-block;
  list-style-type: none;
  width: 20%;
}
