<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/leaflet.css">
    <!-- endbuild -->
</head>
<body ng-controller="TrailCtrl">

  <div class="fixed">
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1>
            <a class="hide-for-small-only" href="#">sentido αlpha</a>
            <a class="show-for-small-only" href="#">s-α</a>
          </h1>
        </li>
      </ul>
      <section class="top-bar-section">
        <ul class="left" ng-show="selectedTrail">
          <li>
            <a href="#" data-reveal-id="trail_edit" ng-click="edit_trail()">
              {{selectedTrail.name}} <span class="fi-compass"> {{trail_info()}}</span>
              <span class="fi-page-edit large"/>
            </a>
          </li>
        </ul>
        <ul class="right" ng-controller="UserCtrl">
          <li ng-hide="user.logged_in" >
            <a href="{{user.login_url}}" title="login">
              <i class="fi-unlock"></i>
            </a>
          </li>
          <li ng-show="user.logged_in">
            <a href="{{user.logout_url}}" title="logout">
              <i class="fi-torso"></i>
            </a>
          </li>
        </ul>
      </section>
    </nav>
  </div>
  
  <div class="map"></div>

  <script data-main="scripts/main" src="bower_components/requirejs/require.js"></script>

  <div id="trail_edit" class="reveal-modal" data-reveal aria-labelledby="Edit Trail" aria-hidden="true" role="dialog">
    <div class="small-12 columns">
      <div class="row">
        <div class="small-3 columns">
          <label for="right-label" class="right inline">Name</label>
        </div>
        <div class="small-9 columns">
          <input type="text" id="right-label" ng-model="updated_trail.name" placeholder="Name">
        </div>
      </div>
      <div class="row">
        <div class="small-3 columns">
          <label for="right-label" class="right inline">State</label>
        </div>
        <div class="small-9 columns">
          <input type="radio" name="trail_state" value="Good" id="state_good"><label for="trail_state">Good</label>
          <input type="radio" name="trail_state" value="Bad" id="state_bad"><label for="trail_state">Bad</label>
        </div>
      </div>
      <div class="row">
        <button class="close-reveal-modal close-button right" ng-click="update_trail()">save</button>
      </div>
    </div>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  </div>

</body>
</html>
