$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';
//@import 'sass-bootstrap/lib/responsive';
@import 'leaflet.css';

.map {
	height: 500px;
}

ul.trails {
	list-style-type: none;
}
